<div class="dialog-header">
    <h1>Create a channel</h1>
    <div class="icon-container">
        <mat-icon mat-button mat-dialog-close>close</mat-icon>
    </div>
</div>

<h4>Name</h4>
<div class="create-channel-input">
    <mat-icon>numbers</mat-icon>
    <input [(ngModel)]="channelName" class="channel-input" type="text" placeholder="z. B. community">
</div>
<p class="dialog-description">In Channels werden Unterhaltungen rund um ein Thema geführt. Verwende einen Namen, der einfach zu finden und zu verstehen ist.</p>
<div mat-dialog-actions class="btn-container">
    <button mat-button class="btn" [disabled]="!channelName" (click)="addChannel()">Weiter</button>
</div>